button {
    background:none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.tab_menu_container {
    display: flex;
}
.tab_menu_btn {
    width: 80px;
    height: 40px;
    transition: 0.3s all;
}
.tab_menu_btn.on {
    border-bottom: 2px solid #ff0000;
    font-weight: 700;
    color: #ff0000;
}
.tab_menu_btn:hover {
    color: #ff0000;
}
.tab_box {
    display: none;
    padding: 20px;
}
.tab_box.on {
    display: block;
}


.ltsb-table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}
.ltsb-table th, .ltsb-table td {
    text-align: left;
    padding: 12px;
}

.ltsb-table tr {
    border-bottom: 1px solid #ddd;
}

.ltsb-table tr.header, .ltsb-table tr:hover {
    background-color: #f1f1f1;
}
.ltsb-input {
    background-image: url('../images/searchglass.jpeg');
    background-size: 12px;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 11px;
    padding: 8px 10px 8px 30px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#delete-word-btn{
    padding: 3px;
    margin: 2px;
    font-size : 12px;
}

#add-word-btn{
    padding: 3px;
    margin: 2px;
    font-size : 12px;
}

#delete-movie-btn{
    padding: 3px;
    margin: 2px;
    font-size : 12px;
}
